::-moz-selection {
	background-color: #02b7ce;
}

::selection {
	background-color: #02b7ce;
}

.btn-primary,
.loading-mask,
.section-title h3::after,
.hexagon-item:hover .hex-item div::before,
.hexagon-item:hover .hex-item div::after,
.progress .bar,
.contact-social li:hover span {
	background-color: #02b7ce;
}

.nicescroll-cursors {
	background: #02b7ce !important;
}

.primary,
.link:hover,
.filter .active,
.works-item h4,
.msg-success {
	color: #02b7ce;
}

.testimonials .owl-dot.active {
	border-color: #02b7ce;
}

.site-wrapper,
.contact-social li:hover span::after,
.contact-social-hex:hover::before {
	border-top-color: #02b7ce;
}

.filter .active,
.contact-social li:hover span::before,
.contact-social-hex:hover::after {
	border-bottom-color: #02b7ce;
}

.service-hex:hover .fill,
.service-hex:hover .st1 {
	fill: #02b7ce;
}
